extends layout.pug 

block content
    .section 
        
        form.form(action="/create", method='POST')
            if titleError 
                p.error Title cannot be empty 
            if contentError 
                p.error Content cannot be empty 
            if success 
                p.success Post is created successfully
            label.label Post Title 
            input.input(type="text", name="title")  
            
            label.label Post Content   
            textarea.input(name="content", cols="30", rows="10") 

            button.input.btn Publish Post  




             
