doctype html
html(lang="en")
    head
        title BlogApp
        link(rel="stylesheet", href="styles.css")
    body 
        .heading
            h3 BLOGapp


            nav.navigation
                    a(href='/') HOME
                    a(href='/create') NEW POST
        
        block content 

        