*{
    margin:0px;
    padding:0px;
    font-family: Gilroy;
    box-sizing: border-box;
    font-size: 1.1rem;
}

a{
    text-decoration: none;
}


body{
    margin: 0px;
    padding:0px;
    font-family: Gilroy;
    max-width: 1100px;
    margin: 0 auto;
}

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    
}

.heading{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 1rem 4rem 1rem 2rem;
}

.heading .navigation a{
    margin-left: 1rem;
    color: #001db0;
}

.heading .navigation a:hover{
    color: #2030e0;
    transition: all ease-in-out 0.2s;
}

.heading h3 {
    font-size: 2rem;
    color: #001db0;
    padding: 0.5rem;
    font-weight: 500;
    border-bottom: 4px solid #001db0;
    border-top: 4px solid #001db0;
}

.posts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem;
    flex-wrap: wrap;
}


.text{
    width: 350px;
    border: 1px solid #ececec;
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.text p{
    color: #2030e0;
    opacity: 0.6;
    font-size: 0.9rem;
    display: -webkit-box;
    line-height: 1.5rem;
    margin: 20px 0px;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


.text .title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #001db0;
    
}

.text .title:hover{
    color: #2030e0;
    transition: all ease 0.3s;
}

.button{
    display: inline-block;
    width: fit-content;
    padding: 5px 10px;
    color: #fff;
    background: #001db0;
}

.button:hover{
    background: #2030e0;
    transition: all ease 0.3s;
}

button{
    background-color: #001db0;
    border: none;
    color: white;
    font-size: 1.3rem;
    border-radius: 0.2rem;
    margin: 1rem;
    display: inline;
}




.form{
    margin: 5rem;
    width: 50%;
    color: #001db0
}

.input {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    font-family: inherit;
    margin: 1.4rem 0;
    padding: 0.5rem;
    border: 1px dashed #001db0;
    resize: vertical;
    font-style: italic;
}


.btn{
    width: fit-content;
}

.btn:hover{
    border-color: #2030e0;
    background: #2030e0;
}

.error{
    padding: 10px;
    margin-bottom: 1rem;
    text-align: center;
    border: 1px solid tomato;
    font-size: 1.3rem;
    color: red;
}

.success{
    padding: 10px;
    margin-bottom: 1rem;
    text-align: center;
    border: 1px solid rgb(50, 214, 0);
    font-size: 1.3rem;
    color: rgb(67, 201, 0);
}

.post{
    text-decoration: underline;
    font-weight: bolder;
    font-size: inherit;
    color: inherit;
}

.edit,
.delete{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background: #001db0;
}

.edit:hover,
.delete:hover {
    background: #2030e0;
}

.single-post{
    max-width: 80%;
}

.post-title{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 1px solid #2030e0;
    color:#001db0;

}

.post-content{
    margin-bottom: 1rem;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #2030e0;
}

/* FOOTER STYLING */

.footer p{
    font-family: inherit;
    font-size: 0.9rem;
    color: #2030e0;
    padding: 2rem;
    text-align: center;
    margin: 1rem;
}






/* ==================== DEVICE FLEXIBILITY ============================= */

@media(max-width: 1250px){
    .post-box{
        width: 300px;

    }
}

@media(max-width: 1100px){
    .post-box{
        width: 70%;
    }
}

@media(max-width: 550px){
    .post-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
}